@page "/"
@page "/index"

<Home Title="Welcome to the BlazorApp application.">
    <VisitShopContent>
        Merhaba Ben Osman Mahmutçepoğlu
        <a href="https://www.linkedin.com/in/osman-mahmutcepoglu/" target="_blank">Linkedin Profilim</a>
        ziyaret Edin.
    </VisitShopContent>
</Home>

@code {

}